[submodule "modes/ruby/rhtml"]
	path = modes/ruby/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "modes/ruby/rinari"]
	path = modes/ruby/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "modes/ruby/rvm"]
	path = modes/ruby/rvm
	url = git://github.com/senny/rvm.el.git
[submodule "modes/ruby/cucumber"]
	path = modes/ruby/cucumber
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "modes/js2"]
	path = modes/js2
	url = git://github.com/mooz/js2-mode.git
[submodule "modes/helm"]
	path = modes/helm
	url = git://github.com/emacs-helm/helm.git
[submodule "modes/helms"]
	path = modes/helms
	url = git://github.com/emacs-helm/helm.git
