[submodule "modes/ruby/rhtml"]
	path = modes/ruby/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "modes/ruby/rinari"]
	path = modes/ruby/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "modes/ruby/rvm"]
	path = modes/ruby/rvm
	url = git://github.com/senny/rvm.el.git
